
.blur{
    display: none;
}
.blur.vis{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #111111b2;
    backdrop-filter: blur(4px);
    z-index: 1;
}
.underwind{
    display: flex;
    margin-top: 5%;
    width: 100%;
    height: 100%;
}
.text{
    width: 80%;
    height: 100%;
}
.image.hr1{
    background-image: url('../img/LIFE\ BAG1.jpg');
    background-color: aqua;
}
.image.hr2{
    background-color: blue;
    background-image: url('../img/GOOD\ MORNING.jpg');
}
.image.hr3{
    background-image: url('../img/WE1.jpg');
    background-color: red;
}
.image.hr4{
    background-image: url('../img/ROKOSS2.jpeg');
    background-color: red;
}
.image.hr5{
    background-image: url('../img/MAZUROV2.jpg');
    background-color: red;
}
.image.hr6{
    background-image: url('../img/GOLOVACHEV2.jpeg');
    background-color: red;
}
.underwind h1{
    position: relative;
    font-size: 50px;
    font-family: 'Ysabeau SC', sans-serif;
    color: white;
    background-color: rgba(128, 128, 128, 0.582);
    padding-left: 5px;
}
.underwind p{
    position: relative;
    font-size: 20px;
    color: white;
    margin-top: 2%;
    background-color: rgba(128, 128, 128, 0.582);
    font-family: 'Ysabeau SC', sans-serif;
    padding-left: 5px;
}
.mwind{
    display: none;
}
.mwind.vis{
    display: flex;
    position: absolute;
    justify-content: center;
    background: none;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.u.vis{
     display: block;
     position: relative;
     z-index: 3;
     color: black;
     width: 80%;
     height: 83%;
}
.u{
    display: none;
}
.f1{
    background-image: url('../img/LIFE\ BAG1.jpg');
}
.f2{
    background-image: url('../img/GOOD\ MORNING1.png');
}
.f3{
    background-image: url('../img/WE1.jpg');
}
.f4{
    background-image: url('../img/MCHS1.jpg');
}
.f1,.f2,.f3{
    border-right: solid 2px var(--main-color3);
}
.up{
    width: 40%;
    justify-content: center;
    font-size: 30px;
}
.down{
    width: 20%;
    background-position: center center;
    font-size: 15px;
    cursor: pointer;
    transition: width 0.2s linear; /*анимация шторок*/
}
.down h1{
    text-align: right;
    padding:  10px 10px 10px 400px;
    border-radius: 5px 5px 0 0;
    transform: rotate(-90deg);
}
.invis{
    display: none;
}
.vis{
    display: block;
}
.logo{
    margin-right: 20px;
}

