@media screen and (max-width: 700px) {
    .block_header h1 {
        font-size: 6.5vw;
        line-height: 8vw;
    }
    .up{
        width: 100%;
        height: 40%;
        transition: height 0.4s linear;
        justify-content: center;
        font-size: 30px;
    }
    .down{
        width: 100%;
        height: 30%;
        background-position: top center;
        font-size: 15px;
        cursor: pointer;
        /* transition: width 0.3s linear; */
    }
    .down h1{
        text-align: center;
        width: 100%;
        padding:  10px 10px 10px 10px;
        border-radius: 5px 5px 0 0;
        transform: rotate(0deg);
    }
    .but {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: flex-end;
        width: 22px;
        height: 22px;
        margin: 10px 10px;
        /*left: 662px;*/
        /*top: 10px;*/
        background-color: #7A7575;
        border-radius: 5px;
        transition: all 0.15s linear;
        cursor: pointer;
    }
    .image.hr1,
    .image.hr2,
    .image.hr3,
    .image.hr4,
    .image.hr5,
    .image.hr6 {
        display: none;
    }

    .crossdate0 {

        position: absolute;
        width: 25px;
        height: 25px;
        top: 3%;
        left: 93.5%;
        cursor: pointer;
    }
    .medal{
        width: 30%;

    }
    .text {
        width: 100%;
    }
}

